<%= form_for @user, :html => { :method => "post", :id => "user-form"} do |f| %>
  <input type="hidden" id="add-user" value="1" />
  <div class="row">
    <div class="span9 msi-head"><h4>Add User</h4></div>
  </div>
  
  <div class="row button-box top">
    <div class="span9" style="text-align:right;">
      <!-- <a href="#" class="btn btn-success update"><i class="icon-edit icon-white"></i>&nbsp;Update</a> -->
      <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i>&nbsp;Add</button>
    
      <!-- <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i>&nbsp;Add</button>  -->
      <a href="#" class="btn btn-inverse"><i class="icon-remove icon-white"></i>&nbsp;Cancel</a>
    </div>
  </div>	
  <div class="msi-list details-view">

      <div class="alert alert-error" <% if @user.errors.any? %> style="display: block;" <% end %>>
        <h4 class="alert-heading">Warning! <%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>      
    
    <div class="row">
      <div class="span4">
        First Name: 
      </div>
      
      <div class="span4">        
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        Last Name: 
      </div>
      <div class="span4">        
        <%= f.text_field :last_name %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        Phone Number: 
      </div>
      <div class="span4">
        <%= f.text_field :phone_number %>       
      </div>
    </div>
    <div class="row">
      <div class="span4">
        username: 
      </div>
      <div class="span4">        
        <%= f.text_field :username %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        Is Administrator? 
      </div>
      <div class="span4">
      	<%= f.check_box :is_admin %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        Password: 
      </div>
      <div class="span4">        
        <%= f.password_field :clear_password %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        Confirm Password: 
      </div>
      <div class="span4">        
        <%= f.password_field :clear_password_confirmation %>
      </div>
    </div>
    
  </div>	<!-- END of msi-list div -->
  <div class="row button-box bottom">
    <div class="span9" style="text-align:right;">
      <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i>&nbsp;Add</button>
      <!-- <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i>&nbsp;Add</button> -->
      <a href="#" class="btn btn-inverse"><i class="icon-remove icon-white"></i>&nbsp;Cancel</a>
    </div>
  </div>
<% end %>


