  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag "jquery.ui.map","jquery.ui.map.services","jquery.ui.map.extensions" %>

<script src="http://www.google.com/jsapi" language="javascript"></script>
<script type="text/javascript">
 
        
$(document).ready(function(){

     
    $('#map_canvas').gmap({'maxZoom':15}).bind('init', function(event, map) { 
    	
		$(map).click( function(event) {
			$('#map_canvas').gmap('clear', 'markers');
			latlang= new String(event.latLng);
			$('#map_canvas').gmap('addMarker', {
				'position': event.latLng, 
				'draggable': true, 
				'bounds': false
			}, function(map, marker) {
				$("#search_latitude").val(latlang.split(",")[0].split("(")[1]);
				$("#search_longitude").val($.trim(latlang.split(",")[1].split(")")[0]));
				
				findLocation(marker.getPosition(), marker);
				
			}).dragend( function(event) {
				findLocation(event.latLng, this);
			}).click( function(event) {
				
			})
		});
	});

	function findLocation(location, marker) {
		$('#map_canvas').gmap('search', {'location': location}, function(results, status) {
			if ( status === 'OK' ) {
				$.each(results[0].address_components, function(i,v) {
					if ( v.types[0] == "administrative_area_level_1" || 
						 v.types[0] == "administrative_area_level_2" ) {
						$('#state'+marker.__gm_id).val(v.long_name);
					} else if ( v.types[0] == "country") {
						$('#country'+marker.__gm_id).val(v.long_name);
					}
				});
				$("#search_near").val(results[0].formatted_address);
				
				marker.setTitle(results[0].formatted_address);
				$('#address'+marker.__gm_id).val(results[0].formatted_address);
				
			}
		});
	}

	$('#map_canvas').gmap('getCurrentPosition', function(position, status) {
		if ( status === 'OK' ) {
			
			var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			
			$("#search_latitude").val(position.coords.latitude);
			$("#search_longitude").val(position.coords.longitude);
			$('#map_canvas').gmap('addMarker', {'position': clientPosition, 'bounds': true});
			
		}
	});
});
</script>
	

	

<div class="row">  
  <div class="span9 msi-head"><h4>Search and Add Venues</h4></div>
</div>

<% if flash[:message] || flash[:error]%>
<div class="row">  
		<div class="span9 alert alert-error" style="display:block">
			<% if flash[:message] %>
				<%= flash[:message] %>
				<% flash[:message] = nil %>
			<% end %>
			<% if flash[:error] %>
			
				<%= flash[:error] %>
				<% flash[:error] = nil %>
			<% end %>
		</div>
</div>				
<% end %>


<div class="row">  
  <div class="span9"> <div id="map_canvas" style="width:680px;height:300px"></div></div>
</div>


<div class="msi-list details-view">
	<%= form_tag search_venues_path, :method => 'post', :id => 'venue-search' do %>
	<div class="row">  
		<%value=params[:search].blank? ? "" : params[:search][:query]%>
		
		<%if params[:venue]=="near"%>
			<div class="span2"><input type="radio" name="venue" value="near" checked/> Result For</div>
		<%else%>
			<div class="span2"><input type="radio" name="venue" value="near" /> Result For</div>
		<%end%>
		<div class="span2"><%= text_field :search, :query,:value=> params[:search].blank? ? "" : params[:search][:query],:class=>"span2"%></div>
		<div class="span1">Near</div>
		<div class="span2"><%= text_field :search, :near,:value=> params[:search].blank? ? "" : params[:search][:near],:class=>"span2"%></div>
	</div>
	<div class="row">  
		<%if (params[:venue]=="ll" and params[:venue]!="near" and params[:venue]!="access_id") || (params[:venue]!="ll" and params[:venue]!="near" and params[:venue]!="access_id")%>
			<div class="span2"><input type="radio" name="venue" value="ll" checked/> Latitude</div>
		<%else%>
			<div class="span2"><input type="radio" name="venue" value="ll"/> Latitude</div>
		<%end%>
		<div class="span2"><%= text_field :search,:latitude ,:value=> params[:search].blank? ? "" : params[:search][:latitude],:class=>"span2"%></div>
		<div class="span1">Longitude</div>
		<div class="span2"><%= text_field :search, :longitude,:value=> params[:search].blank? ? "" : params[:search][:longitude],:class=>"span2" %></div>
	</div>	
	<div class="row">  
		<%if params[:venue]=="access_id"%>
			<div class="span2"><input type="radio" name="venue" value="access_id" checked/> Venue Id</div>
		<%else%>
			<div class="span2"><input type="radio" name="venue" value="access_id" /> Venue Id</div>
		<%end%>
		<div class="span2"><%= text_field :search,:venue_id ,:value=> params[:search].blank? ? "" : params[:search][:venue_id],:class=>"span2"%></div>
	</div>	
	<div class="row">  
		<div class="span9 aright"><button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i>&nbsp;Search</button></div>
	</div>	
	<%end%>
	<%= form_for(@venue) do |f| %>
	<%if @parsed_json!=nil%>
					<div class="row list-heading">
						<div class="span2 controls">
								<label class="checkbox inline">
									<input id="toggleSelection" type="checkbox" value="toggle">
									Name
								</label>
						</div> 
						<div class="span2">Id</div> 
						<div class="span2">Address</div> 
						<div class="span1">City</div> 
						<div class="span1">State</div> 
						<div class="span1">Country</div> 
					</div>
					<%if @parsed_json["response"]["venues"]!=nil%>
					<%for parsed_res in @parsed_json["response"]["venues"]%>
					<div class="row">
						<div class="span2 controls">
							<%address=""%>
						    <%address=parsed_res["location"]["address"]+" " if (parsed_res["location"]["address"]!=nil)%>
						    <%address+=parsed_res["location"]["city"]+" " if (parsed_res["location"]["city"]!=nil)%>
						    <%address+=parsed_res["location"]["state"]+" " if (parsed_res["location"]["state"]!=nil)%>
						    <%address+=parsed_res["location"]["country"]+" " if (parsed_res["location"]["country"]!=nil)%>
								<label class="checkbox inline">
									<%=check_box_tag 'venue[ids]_'+parsed_res["id"], parsed_res["name"]+"(#{address})", false%>
									
									<%= parsed_res["name"] %>
								</label>
						</div> 
						<div class="span2" style="word-wrap:break-word;"><%= parsed_res["id"] %></div>
						<div class="span2" style="word-wrap:break-word;"><%=parsed_res["location"]["address"]%></div>
						<div class="span1" style="word-wrap:break-word;"><%=parsed_res["location"]["city"]%></div>
						<div class="span1" style="word-wrap:break-word;"><%=parsed_res["location"]["state"]%></div>
						<div class="span1" style="word-wrap:break-word;"><%=parsed_res["location"]["state"]%></div> 
						
					</div>	
					<%end%>
					<%elsif @parsed_json["response"]["venue"]!=nil%>
					<div class="row">
						<div class="span2 controls">
							<%address=""%>
						    <%address=@parsed_json["response"]["venue"]["address"]+" " if (@parsed_json["response"]["venue"]["address"]!=nil)%>
						    <%address+=@parsed_json["response"]["venue"]["city"]+" " if (@parsed_json["response"]["venue"]["city"]!=nil)%>
						    <%address+=@parsed_json["response"]["venue"]["state"]+" " if (@parsed_json["response"]["venue"]["state"]!=nil)%>
						    <%address+=@parsed_json["response"]["venue"]["country"]+" " if (@parsed_json["response"]["venue"]["country"]!=nil)%>
								<label class="checkbox inline">
									<%=check_box_tag 'venue[ids]_'+@parsed_json["response"]["venue"]["id"], @parsed_json["response"]["venue"]["name"]+"(#{address})", false%>
									
									<%= @parsed_json["response"]["venue"]["name"] %>
								</label>
						</div> 
						<div class="span2"><%= @parsed_json["response"]["venue"]["id"] %></div>
						<div class="span2"><%=@parsed_json["response"]["venue"]["location"]["address"]%></div>
						<div class="span1"><%=@parsed_json["response"]["venue"]["location"]["city"]%></div>
						<div class="span1"><%=@parsed_json["response"]["venue"]["location"]["state"]%></div>
						<div class="span1"><%=@parsed_json["response"]["venue"]["state"]%></div> 
						
					</div>	
					<%end%>
					
					<%if !@parsed_json["response"].blank?%>
		<div class="row">  
		<div class="span9 aright"><button type="submit" class="btn btn-success"><i class='icon-plus icon-white'></i>&nbsp;Save Venues</button></div>
	</div>
	<%end%>
	<%end%>
	<%end%>
</div>

 
