<h1>Updating Password</h1>

<%= form_tag :action => 'update_password' do %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<table>
<tr>
<td><strong><font color="#6666cc">New Password:</font></strong></td>
<td><%= password_field "user", "clear_password", :style=>"border-width:1px;border-style:Solid;height:20px;" %></td>
</tr>
<tr>
<td><strong><font color="#6666cc">Confirm Password:</font></strong></td>
<td><%= password_field "user", "clear_password_confirmation", :style=>"border-width:1px;border-style:Solid;height:20px;" %></td>
</tr>
<tr>
<td></td>
<td style="padding-top: 5px">
<%= submit_tag "Change Password", {:id=>"Button_Login", :style=>"color:Black;background-color:#FFC080;border-color:#FF8080;border-width:1px;border-style:Solid;font-weight:bold;"} %>
</td>
</tr>
<tr>
<td></td>
<td>
<%= link_to "Cancel", :action=>'index' %>
</td>
</tr>
</table>
<% end %>